$white_theme: '#FAF9FC';

.nav {
    background:#fff;
    width:clamp(100%, 100%, 100%);
    height:100px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border-bottom:.5px solid #f6f6f6;
    h1 {
        font-weight:500;
        font-size:1.3rem;
        letter-spacing:-.1rem;
    }
    .QOrbital__logo {
        background: #095FF2;
        width:60px;
        height:60px;
        border-radius:50% 50% 1px 50%;
        margin:0px 0px 0px 50px;
        transition:1s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .user__show {
        // background:red;
        position:relative;
        display:flex;
        margin:0px 60px 0px 0px;
        img {
            object-fit:cover;
            object-position:center;
            width:67px;
            height:67px;
            margin:0px 30px 0px 30px;
            border-radius:50%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor:pointer;
            border:0px;
            transition:.3s;
            
        }
        img:hover {
            transform: rotate(20deg);
            transition:.4s;
        }
        #theme {
            background:#f6f6f6;
            border-radius:50%;
            width:60px;
            height:60px;
            display:flex;
            align-items:center;
            justify-content:center;
            border:0px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor:pointer;
            color:#095FF2;
                // display:none;
            margin:0px 20px 0px 0px;
            user-select: none;
    
            span {
                    font-weight:bolder;
            }
            
        }
        #theme:active, #theme:focus {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
       
        #logout {
            background:#f6f6f6;
            border-radius:50%;
            width:60px;
            height:60px;
            border:0px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor:pointer;
            color:#095FF2;
            // display:none;
            margin:0px 0px 0px 0px;
            user-select: none;

            span {
                font-weight:bolder;
            }
        }
        #logout:focus, #logout:active {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
  
    
    .menu {
        width:90%;
        height:100%;
        padding:0px 0px 0px 50px;
        button {
            width:100px;
            height:100%;
            font-size:1.1rem;
            background:transparent;
            border:0px;
            color:#848486;
            cursor:pointer;
            letter-spacing:.05rem;
            margin-top:1px;
            border-bottom:2px solid transparent;
        }
        // button:focus, button:active {
        //     color:black;
        //     font-weight:bold;
        //     border-bottom:2px solid black;
        // }
        button.actived_button {
            color:#095FF2 !important;
            font-weight:bold;
            border-bottom:2px solid #095FF2;
        }
        
    }
}


