<app-navbar 
    [config]="config" 
    [menu]="menu"
    [landingMenu]="landingMenu"
    [showModal]="showModal"
    [setModal]="setModal"
    [logout]="logout"
    [changeTheme]="changeTheme"
    [ngStyle]="{'background-color': (this.config.theme.light === true)? '#fff': '#1E2140', color: (this.config.theme.light === true)? 'black': 'white !important'}"
></app-navbar>
<router-outlet></router-outlet>
<app-modal
    [config]="config"
    [hideModal]="hideModal"
    [showModal]="showModal"
    [checkLogin]="checkLogin"
    [addUser]="addUser"
    [addTask]="addTask"   
></app-modal>

