<!-- 
     
    <div id="settings" *ngIf="this.config.menuController.settingsBool === true" >
        <nav>
            <button (click)="selectSettingAccount()"><span class="material-icons">person</span> Accounts</button>
            <button (click)="selectSettingServer()"><span class="material-icons">public</span> Server</button>
            <button (click)="selectSettingWebsite()"><span class="material-icons">web</span>  Website</button>
            <button (click)="selectSettingHelp()"><span class="material-icons">support</span> Help</button>
        </nav>
        <div class="settingsTab">
            <div class="inside__settings" *ngIf="this.settingsController.setAccountTab === true">
                <div class="drop__container" tabindex="0" > 
                    <div>
                            Delete Account
                            <span id="chevron" class="material-icons">expand_more</span>
                    </div>
                    <span class="option__select">
                        <span> Delete Account</span> 
                        <button> <span class="material-icons">done</span>Test </button>
                    </span>
                </div>
               
                
            </div>
            <div class="inside__settings"   *ngIf="this.settingsController.setServerTab === true">S</div>
            <div class="inside__settings"   *ngIf="this.settingsController.setWebsiteTab === true">W</div>
            <div class="inside__settings"   *ngIf="this.settingsController.setHelpTab === true">H</div>
        </div>
        
    </div>   
    <div id="loading" *ngIf="this.config.menuController.loadingBool === true">
        <div class="QOrbital__logo"></div>
    </div>
</div>

<div class="views" *ngIf="this.config.userLogged.id === null && this.config.userLogged.online === false">
    <div id="teams" *ngIf="this.config.menuController.homeBool === true"  ></div>
    Test
</div> -->